.wrapper{
    display: flex;
    width: 100%;
}

.main{
    background: #f0f3f4;
    display: block;
    width: 100%;
}

.styleSidebar{
    height: auto;
    width: 12% ;
    padding: 20px 0 0 0;
    float: left;
    background-color: #1c2b36;
}

.styleNavbar{
    position: sticky;
    background-color: #fff;
    color: #000;
    height: 50px;
}

.content{

}

.content-rightSidebar{
    background-color: #fff;
    height: auto;
    width: 16% ;
    float: right;
}

.Dashboard{
    background-color: #f5f7f7;
    border-bottom: 1px solid #dee2e6;
    padding-left: 20px;
}

.p-dash{
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-transparent{
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
    margin-bottom: 10px;
}

.rightSidebar-padding-border{
    padding-bottom: 12px !important;
    padding-top: 12px;
}

.navbar-bot-bor{
    border-bottom: 1px solid #dee2e6;
}

.content-center-inside{
    padding: 15px;
    float: left;
    width: 84%;}

.top-5-info{
    padding: 0px;
    margin: 15px;
}

.top-5-info-color1{
    background-color: #00bcd4;
}

.top-5-info-color2{
    background-color: #8bc34a;
}

.top-5-info-color3{
    background-color: #1d89cf;
}

.top-5-info-color4{
    background-color: #a767dd;
}

.top-5-info-color5{
    background-color: #ffc700;
}

.second-line-graphs{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}


.third-line-elem{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}

.fourth-line{
    padding: 0px;
    margin: 15px;
}

.cont-padd-for-line-4{
    padding: 0px;
}

.fourth-line-left{
    padding: 0px;
    background-color: #fff;
}

.fourth-line-right{
    padding: 0px;
    background-color: #e5eaeb;
}

.fifth-line{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}