.wrapper{
    display: flex;
    width: 100%;
}

.main{
    background: #f0f3f4;
    display: block;
    width: 100%;
}

.my-style-hr{
    margin: 15px 0px 15px 0px;
    opacity: 1;
    height: 2px !important;
    color: #243a49;
}

.styleSidebar{
    height: auto;
    width: 12% ;
    padding: 0;
    float: left;
    background-color: #1c2b36;
}

.styleLogo{
    padding: 0px;
    margin: 10px 20px 10px 20px;

}
li a.nav-link:hover{
    background-color: #273c4b;
}
.marg-for-icons{
    margin-right: 10px;
}

.p-sidebar-headwords{
    padding: 20px 0px 20px 20px;
    margin-bottom: 0px;
    color: #7792a5;
}

.marg-pad-for-p-for-icons-sidebar{
    margin-bottom: 0px;
    padding-left: 20px;
}

.marg-pad-for-a-for-icons-sidebar{
    padding: 10px 0px 10px 0px;
}

.bg-color-sidebar-dashboard-1{
    text-decoration: none;
    color: #fff;
    background-color: #17242d;
}

.nav-link.active2{/* Зміниі бутстрапівський варіант бо інакше нічого не працювало,*/
    color: #fff;  /* там було .nav-link.active, і колір фону синій*/
    background-color: #17242d;
}

.sidebar-bottom-progress{
    margin: 10px 0px 10px 20px;
    width: 80%;
}

.sidebar-bottom-progress-bg{
    border-radius: 2px;
    background-color: #111a21;
    height: 4px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.sidebar-bottom-progress-line-1{
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    text-align: center;
    background-color: #00aeef;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 70%;
}

.sidebar-bottom-progress-line-2{
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    text-align: center;
    background-color: #ee2337;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 45%;
}

.marg-pad-for-p-for-bottom-sidebar-1{
    margin: 5px 0px 5px 20px;
}

.marg-pad-for-p-for-bottom-sidebar-2{
    margin: 15px 0px 5px 20px;
}

div.marg-pad-for-p-for-bottom-sidebar-1 p{
    margin-bottom: 0px;
}

div.marg-pad-for-p-for-bottom-sidebar-2 p{
    margin-bottom: 0px;
}

div.marg-pad-for-p-for-bottom-sidebar-1 table{
    width: 90%;
}

div.marg-pad-for-p-for-bottom-sidebar-2 table{
    width: 90%;
}

.bottom-sidebar-progress-align{
    text-align: right;
}

.styleNavbar{
    position: sticky;
    background-color: #fff;
    color: #000;
    height: 50px;
}

div.container-fluid i{
    margin-left: 10px;
    margin-right: 20px;
    font-size: x-large;
}

.nav-right{
    float: right;
}

div.nav-right li{
    padding-left: 10px;
    padding-right: 20px;
}

ul.navbar-nav{
    align-items: center;
}

li.nav-item p{
    align-items: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 20px ;
}

.search-box{
    display: flex;
    background: #f3f3f3;
    margin-left: 10px;
    margin-right: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.search-btn i{
    font-size: medium;
    color: #959595;
}

.search-txt{
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding-left: 7px;
}

.content-rightSidebar{
    background-color: #fff;
    height: auto;
    width: 16% ;
    float: right;
}

.Dashboard{
    background-color: #f5f7f7;
    border-bottom: 1px solid #dee2e6;
    padding-left: 20px;
}

.p-dash{
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-transparent{
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
    margin-bottom: 10px;
}

.rightSidebar-padding-border{
    padding-bottom: 12px !important;
    padding-top: 12px;
}

.navbar-bot-bor{
    border-bottom: 1px solid #dee2e6;
}

.content-center-inside{
    padding: 15px;
    float: left;
    width: 84%;}

.top-5-info{
    padding: 0px;
    margin: 15px;
    border-radius: 6px;
    background-repeat: repeat-x;
    background-position: 0 95%;
}

.top-5-info-color1{
    background-color: #00bcd4;
    background-image: url("../img/Curve_copy_3.png");
}

.top-5-info-color2{
    background-color: #8bc34a;
    background-image: url("../img/Curve.png");
}

.top-5-info-color3{
    background-color: #1d89cf;
    background-image: url("../img/Curve_copy.png");
}

.top-5-info-color4{
    background-color: #a767dd;
    background-image: url("../img/Curve_copy_2.png");
}

.top-5-info-color5{
    background-color: #ffc700;
    background-image: url("../img/Curve_copy_4.png");

}

div.top-5-info p.top-5-info-num{
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    color: #fff;
    margin: 10px 0px 0px 0px;
}

div.top-5-info p.top-5-info-inscription{
    padding-bottom: 25px;
    margin-bottom: 0px;
    font-size: smaller;
    color: #fff;
    opacity: 0.6;
}

div.top-5-info p{
    text-align: center;
}

div.top-5-info img{
    margin-bottom: 7px;
}


.second-line-graphs{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}


.third-line-elem{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}

.fourth-line{
    padding: 0px;
    margin: 15px;
}

.cont-padd-for-line-4{
    max-width: 100%;
    padding: 0px;
}

.fourth-line-left{
    padding: 0px;
    background-color: #fff;
}

.fourth-line-right{
    padding: 0px;
    background-color: #e5eaeb;
}

.fifth-line{
    padding: 0px;
    margin: 15px;
    background-color: #fff;
}


.margin-for-containers{
    margin: 0px;
    max-width: none;
}



.col-for5 {
    flex: 1 0 0;
    width: 10%;
}
